<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <title>About</title>
    <link rel="rel" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body> 
    <div class="main-content">
        {{>header}}
        <h3>about me{{name}}</h3>
        <img class="dog" src="/img/dog-puppy-on-garden.jpg"/>
        <p>Weather app with dog image</p>
    </div>
</body>
<footer>
    {{>footer}}
</footer>
</html>